html,body{
    height:99vh
}
body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
nav{
    display: flex;
    justify-content:space-between;
}

footer{
    display: flex;
   justify-content: space-between;
   flex-direction: row;
   /*padding-right: 9%;*/
   background-color: gray;
   margin-left: -8px;
    margin-right: -8px;         
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}