html,body{
    height:99vh
}
body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
nav{
    display: flex;
    justify-content:space-between;   
    padding: 1em;   
}

footer{
    display: flex;
   justify-content: space-between;
   flex-direction: row;
   /*padding-right: 9%;*/
   background-color: gray;
   margin-left: -8px;
    margin-right: -8px;    
    padding: 1em;     
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav>div>a,nav>div>svg,nav>div>button{
    margin-left: .5em;
    margin-right: .5em;
}
footer>div>a,footer>div>svg,footer>div>button{
    margin-left: .5em;
    margin-right: .5em;
}